body {
    font-family: Arial, sans-serif;
}

#selectedImages {
    margin-top: 10px;
    list-style-type: none;
    padding: 0;
}

#selectedImages li {
    margin-bottom: 5px;
}

.categories-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    margin-top: 10px;
}

.category-item {
    flex: 1 1 calc(33.33% - 10px); 
    box-sizing: border-box;
}

.form-check-label {
    margin-left: 8px;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .category-item {
        flex: 1 1 calc(50% - 10px); 
    }
}

@media (max-width: 480px) {
    .category-item {
        flex: 1 1 100%;
    }
}

.hero{
    padding-top: 50px;
}
